<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCC</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-auto">
                <div class="dropdown">
                    <span data-day="0" onclick="handleDayClick(this);">
                        <%= __("today") %>
                        <i class="fas fa-calendar" id="today-icon"></i> 
                    </span>
                </div>
            </div>
            <div class="col text-center" id="project-title">
                <%= __("project_title") %>
            </div>
            <div class="col-auto">
                <div class="dropdown">
                    <span onclick="handleEditClick();">
                        <i id="edit-button" class="fas fa-pencil-alt"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="content">
            <br>
            <div class="row">
                <% const days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']; %>
                <% days.forEach((day, index) => { %>
                    <div class="col-4 col-md-2 mb-2">
                        <div class="dayButton" data-day="<%= index + 1 %>" onclick="handleDayClick(this)"><%= __(day) %></div>
                    </div>
                <% }); %>
            </div>
            <!-- If screen too small, make two tabs -->
            <!-- Freeze title when scrolling -->
            <div class="row mt-4">
                <% function renderPanel(menuItems) { %>
                    <% for (let title in menuItems) { %>
                        <% let item = menuItems[title]; %>
                        <div class="col-md-2 panel">
                            <div class="view-mode w-100">
                                <div class="image-container">
                                    <img src="<%= item.image ? item.image : '/img/default.png' %>" class="panel-img w-100" />
                                    <div class="amount-overlay"><%= item.amt %></div>
                                </div>
                                <p class="panel-title"><%= title %></p>
                                <ul class="nameResponses">
                                    <% item.names.forEach(name => { %>
                                        <li><%= name %></li>
                                    <% }) %>
                                </ul>
                            </div>
                            <div class="edit-mode w-100 hidden">
                                <textarea class="panel-img w-100 d-flex"></textarea>
                                <input class="panel-title"/>
                                <ul class="nameResponses">
                                </ul>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                
                <%= renderPanel(breakfastMenu) %>
                <%= renderPanel(lunchMenu) %>
                
            </div>
        </div>
        <div id="view-footer" class="row footer align-items-center">
            <div class="col button-container">
                <a href="/" class="actionButton"><%= __("back") %></a>
                <div class="dropdown">
                    <button class="dropdown-toggle actionButton w-100" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= __("views") %>
                    </button>
                    <ul class="dropdown-menu w-100 text-center">
                        <li><a class="dropdown-item" href="/orders"><%= __("orders") %></a></li>
                        <li><a class="dropdown-item" href="/menu"><%= __("menu") %></a></li>
                        <li><a class="dropdown-item" href="/members"><%= __("members") %></a></li>
                        <li><a class="dropdown-item" href="/history"><%= __("history") %></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="edit-footer" class="row footer align-items-center hidden">
            <div class="col button-container">
                <button id="cancelButton" class="actionButton" onclick="handleCancel()"><%= __("cancel") %></button>
                <span>
                    <button id="undo-button" onclick="undo()" class="actionButton desaturate">
                        <i class="fas fa-undo"></i>
                    </button>
                    <button id="redo-button" onclick="redo()" class="actionButton desaturate">
                        <i class="fas fa-redo"></i>
                    </button>
                </span>
                <button id="saveButton" class="actionButton" onclick="handleSave()"><%= __("save") %></button>
            </div>
        </div>
    </div>

    <script src="/js/editOrders.js"></script>
    <script src="/js/dayNav.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/a8eb5cb089.js" crossorigin="anonymous"></script>
</body>
</html>