<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCC</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-auto">
                <i id="calendar-icon" class="dropdown fas fa-calendar-alt"></i>
            </div>
            <div class="col text-center" id="project-title">
                <%= __("project_title") %>
            </div>
            <div class="col-auto">
                <div class="dropdown">
                    <span onclick="handleEditClick(6, 'date');">
                        <i id="edit-button" class="fas fa-pencil-alt"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="content">
            <input type="date" id="datePicker" value="<%= selectedDate %>" style="opacity: 0;">
            <br>
            <h3 class="text-center">Orders for <%= formattedDate %></h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10%;">Date</th>
                        <th style="width: 35%;">Member</th>
                        <th style="width: 20%;">Breakfast</th>
                        <th style="width: 20%;">Lunch</th>
                        <th style="width: 15%;">Timestamp</th>
                    </tr>
                </thead>
                <tbody id="data-body" class="view-mode">
                    <% orderList.forEach(order => { %>
                        <tr>
                            <td><%= order.date %></td>
                            <td><%= order.member_name %></td>
                            <td><%= order.breakfast %></td>
                            <td><%= order.lunch %></td>
                            <td><%= order.timestamp %></td>
                        </tr>
                    <% }); %>
                </tbody>
                <tbody id="data-body" class="edit-mode hidden"></tbody>
            </table>
            <button id="bottom-scroll" onclick="scrollToBottom()">↓</button>
            <br>         
        </div>
        <div id="view-footer" class="row footer align-items-center">
            <div class="col button-container">
                <a href="/" class="actionButton"><%= __("back") %></a>
                <div class="dropdown">
                    <button class="dropdown-toggle actionButton w-100" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= __("views") %>
                    </button>
                    <ul class="dropdown-menu w-100 text-center">
                        <li><a class="dropdown-item" href="/orders"><%= __("orders") %></a></li>
                        <li><a class="dropdown-item" href="/menu"><%= __("menu") %></a></li>
                        <li><a class="dropdown-item" href="/members"><%= __("members") %></a></li>
                        <li><a class="dropdown-item" href="/history"><%= __("history") %></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="edit-footer" class="row footer align-items-center hidden">
            <div class="col button-container">
                <button id="cancelButton" class="actionButton" onclick="handleCancel()"><%= __("cancel") %></button>
                <span>
                    <button id="undo-button" onclick="undo()" class="actionButton desaturate">
                        <i class="fas fa-undo"></i>
                    </button>
                    <button id="redo-button" onclick="redo()" class="actionButton desaturate">
                        <i class="fas fa-redo"></i>
                    </button>
                </span>
                <button id="saveButton" class="actionButton" onclick="handleSave()"><%= __("save") %></button>
            </div>
        </div>
    </div>

    <script src="/js/datePicker.js"></script>
    <script src="/js/editTable.js"></script>
    <script src="/js/bottomScroll.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/a8eb5cb089.js" crossorigin="anonymous"></script>
</body>
</html>