<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCC</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/orderPrint.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-auto">
                <i id="calendar-icon" class="dropdown fas fa-calendar-alt"></i>
            </div>
            <div class="col text-center" id="project-title">
                <%= __("titles.project_title") %>
            </div>
            <div class="col-auto">
                <div id="switch-button" class="dropdown" onclick="switchMenu()">
                    <span id="switch-text">B</span> 
                    <i class="fas fa-sync-alt"></i>
                </div>
            </div>
        </div>
        <div class="content">
            <input type="date" id="datePicker" value="<%= dateInput %>" style="opacity: 0;">
            <div class="row sticky-row">
                <div class="col text-center">
                    <h3><%= formattedDate %></h3>
                </div>
            </div>
            <div id="breakfast-panel" class="row justify-content-center mt-4">
                
            </div>
            <div id="lunch-panel" class="row justify-content-center mt-4 hidden">
                
            </div>
            <button id="bottom-scroll" onclick="scrollToBottom()">↓</button>
        </div>
        <div class="row footer align-items-center">
            <div class="col align-items-center button-container">
                <button class="actionButton" onclick="handleDateClick()"><%= __("buttons.back") %></button>  
                
                <% if (foodRemoved) { %>
                    <div 
                        id="info-button"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="<%= __('buttons.removed_message') %>">
                        <i class="fas fa-info-circle"></i>
                    </div>
                <% } %>

                <button class="dropdown-toggle actionButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= __("buttons.views") %>
                </button>
                <ul class="dropdown-menu text-center">
                    <li><a class="dropdown-item" href="#" onclick="handleDateClick('orders')"><%= __("buttons.orders") %></a></li>
                    <li><a class="dropdown-item" href="/menu"><%= __("buttons.menu") %></a></li>
                    <li><a class="dropdown-item" href="/members"><%= __("buttons.members") %></a></li>
                    <li><a class="dropdown-item" href="#" onclick="handleDateClick('history')"><%= __("buttons.history") %></a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/js/datePicker.js"></script>
    <script src="/js/switchMenu.js"></script>
    <script src="/js/createPanels.js"></script>
    <script type="module" src="/js/realTimeDB/rtMain.js"></script>
    <script>
        const breakfastMenu = <%- JSON.stringify(breakfastMenu) %>;
        const lunchMenu = <%- JSON.stringify(lunchMenu) %>;
        createPanelRows(breakfastMenu, 'breakfast-panel');
        createPanelRows(lunchMenu, 'lunch-panel');
    </script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/a8eb5cb089.js" crossorigin="anonymous"></script>
</body>
</html>