<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCC</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-auto">
                <div class="dropdown">
                    <span onclick="handleDayClick(0);">
                        <%= __("today") %>
                        <i class="fas fa-calendar" id="today-icon"></i> 
                    </span>
                </div>
            </div>
            <div class="col text-center" id="project-title">
                <%= __("project_title") %>
            </div>
            <div class="col-auto">
                <div class="dropdown">
                    <span onclick="handleEditClick();">
                        <i id="edit-button" class="fas fa-pencil-alt"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="content">
            <br>
            <div class="row">
                <div class="col-4 col-md-2 mb-2">
                    <div class="dayButton" data-day="1" onclick="handleDayClick(1)"><%= __('monday') %></div>
                </div>
                <div class="col-4 col-md-2 mb-2">
                    <div class="dayButton" data-day="2" onclick="handleDayClick(2)"><%= __('tuesday') %></div>
                </div>
                <div class="col-4 col-md-2 mb-2">
                    <div class="dayButton" data-day="3" onclick="handleDayClick(3)"><%= __('wednesday') %></div>
                </div>
                <div class="col-4 col-md-2 mb-2">
                    <div class="dayButton" data-day="4" onclick="handleDayClick(4)"><%= __('thursday') %></div>
                </div>
                <div class="col-4 col-md-2 mb-2">
                    <div class="dayButton" data-day="5" onclick="handleDayClick(5)"><%= __('friday') %></div>
                </div>
                <div class="col-4 col-md-2 mb-2">
                    <div class="dayButton" data-day="6" onclick="handleDayClick(6)"><%= __('saturday') %></div>
                </div>
            </div>
            <!-- If screen too small, make two tabs -->
             <!-- Freeze title when scrolling -->
            <div class="row mt-4">
                <% breakfastResponses.forEach(({ title, image, amt, names }, index) => { %>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col panel">

                                <div class="image-container view-mode">
                                    <img src="<%= image ? image : '/img/default.png' %>" class="panel-img w-100" />
                                    <div class="amount-overlay"><%= amt %></div>
                                </div>
                                <div class="panel-title view-mode">
                                    <p><%= title %></p>
                                </div>
                                <textarea class="panel-img w-100 edit-mode hidden" data-orig="<%= image ? image : '' %>"></textarea>
                                <input class="panel-title edit-mode hidden" data-orig="<%= title %>"/>

                                <ul class="nameResponses">
                                    <% names.forEach(name => { %>
                                        <li>
                                            <%= name %>
                                            <span class="trash-icon hidden" onclick="handleDelete(this)">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                        </li>
                                    <% }) %>
                                    <li class="addButton edit-mode hidden">
                                        <i class="fas fa-plus"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% }) %>

                <% lunchResponses.forEach(({ title, image, amt, names }, index) => { %>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col panel">

                                <div class="image-container view-mode">
                                    <img src="<%= image ? image : '/img/default.png' %>" class="panel-img w-100" />
                                    <div class="amount-overlay"><%= amt %></div>
                                </div>
                                <div class="panel-title view-mode">
                                    <p><%= title %></p>
                                </div>
                                <textarea class="panel-img w-100 edit-mode hidden" data-orig="<%= image ? image : '' %>"></textarea>
                                <input class="panel-title edit-mode hidden" data-orig="<%= title %>"/>

                                <ul class="nameResponses">
                                    <% names.forEach(name => { %>
                                        <li>
                                            <%= name %>
                                            <span class="trash-icon hidden" onclick="handleDelete(this)">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                        </li>
                                    <% }) %>
                                    <li class="addButton edit-mode hidden">
                                        <i class="fas fa-plus"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="row footer align-items-center view-mode">
            <div class="col button-container">
                <button id="backButton" class="actionButton"><%= __("back") %></button>
                <div class="dropdown actionButton">
                    <button class="dropdown-toggle actionButton w-100" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= __("views") %>
                    </button>
                    <ul class="dropdown-menu w-100 text-center">
                        <li><a class="dropdown-item" href="/response">Responses</a></li>
                        <li><a class="dropdown-item" href="/member">Members</a></li>
                        <li><a class="dropdown-item" href="/history">History</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row footer align-items-center edit-mode hidden">
            <div class="col button-container">
                <button id="cancelButton" class="actionButton"><%= __("cancel") %></button>
                <span>
                    <button id="undoButton" class="actionButton desaturate">
                        <i class="fas fa-undo"></i>
                    </button>
                    <button id="redoButton" class="actionButton desaturate">
                        <i class="fas fa-redo"></i>
                    </button>
                </span>
                <button id="saveButton" class="actionButton"><%= __("save") %></button>
            </div>
        </div>
    </div>

    <script src="/js/response.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/a8eb5cb089.js" crossorigin="anonymous"></script>
</body>
</html>